.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1 rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 0.5rem
}

.itemInput {
		margin-right: 1rem;	
	}

.deleteTodo {
	background: rgb(94, 91, 91);
	border-radius: 10%;
	color: #fff;
	border: none;
}

.posNum {
	padding-left: 8px;
}

.done {
	text-decoration: line-through;
}